@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Предотвращение нежелательных жестов */
html, body {
  overscroll-behavior: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Разрешаем только вертикальную прокрутку */
.min-h-screen {
  touch-action: pan-y;
}

body {
  margin: 0;
  padding: 0;
}
